/*
* Custom styling
*/

svg {
  width: 960px;
  height: 500px;
}

svg#HeatVis {
  width: 960px;
  height: 800px;
}

p#caption {
  font-size: 12px;
}

p#buttons {
  font-family: sans-serif;
}

#plot {
  font-weight: lighter;
}

#labels {
  font-size: 8px;
}

#mobility {
  font-size: 12px;
  stroke: #f5f5f5;
}

#x-axis text,
#y-axis text {
  font-size: 10pt;
  fill: grey;
}

#x-axis-heat text,
#y-axis-heat text {
  font-size: 8pt;
  fill: semiblack;
  font-weight: bold;
}

#x-axis-heat line,
#y-axis-heat line {
  fill: none;
  stroke: #f5f5f5;
}

#x-axis-heat path,
#y-axis-heat path {
  fill: none;
  stroke: #f5f5f5;
}

#x-axis line,
#grid-axis line  {
  fill: none;
  stroke: #f5f5f5;
}

#x-axis path,
#y-axis path,
#grid-axis path,
#y-axis line, {
  fill: none;
  stroke: #f5f5f5;
}
